.Select
{
    border-color: #FFA800;
    border-style: double;
    border-width: 2px;
    width: 85%;
    padding: 20px;
    height: auto;
    clear: both;
    margin: 10px auto auto auto;
    padding-left: auto;
    padding-right: auto;
}
.Group
{
    clear: both;
    height: 30px;
}

.Select .Group .GroupTitle
{
    float: left;
    font-size: 1.2em;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    border-color: #EFEFEF;
    border-style: double;
    border-width: 2px;
    line-height: 20px;
    background-color: #2e2e2e;
    height: 20px;
}
.Select .Group .GroupOptions
{
    width: 700px;
    float: left;
}
.Select .Group .GroupOption
{
    float: left;
    font-size: 1.2em;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    border-color: #EFEFEF;
    border-style: double;
    border-width: 2px;
    line-height: 20px;
    background-color: #2e2e2e;
    height: 20px;
    cursor: pointer;
}
.Select .Group .GroupOptionClick
{
    float: left;
    font-size: 1.2em;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    border-color: #EFEFEF;
    border-style: double;
    border-width: 2px;
    line-height: 20px;
    background-color: #FFA800;
    height: 20px;
    cursor: pointer;
}
.Select .Group .GroupOption:hover
{
    background-color: #FFA800;
}
.Select .Group .GroupOption a
{
    color: White;
    cursor: pointer;
}
.CarSelect
{
    width: 90%;
    height: auto;
    clear: both;
    margin: 10px auto auto auto;
    padding-left: auto;
    padding-right: auto;
}
.CarSelect .SelectBox
{
    clear: both;
    margin: 15px auto 15px auto;
    border-color: #EFEFEF;
    border-style: double;
    border-width: 5px;
    height: 140px;
}
.CarSelect .SelectBox:hover
{
    border-color: #C7DDF2;
}
.CarSelect .CarImage
{
    padding: 20px 25px 20px 25px;
    width: 150px;
    height: 100px;
    float: left;
}
.CarSelect .CarInfo
{
    width: 200px;
    line-height: 35px;
    padding-left: 40px;
    float: left;
}
.CarSelect .CarPrice
{
    width: 250px;
    padding: 25px;
    float: left;
    height: 90px;
}

.CarSelect .CarOrder
{
    height: 100px;
    padding: 20px;
    width: 100px;
    float: right;
}
.CarSelect .CarOrder a
{
    border-color: White;
    border-style: none;
    border-width: 0px;
    color: White;
}
.Sbotton
{
    margin-left: 10px;
    color: #888888;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 20px;
    border-color: #888888;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
}
.Sbotton:hover
{
    border-color: #FFA800;
    background-color: #888888;
    color: #ffffff;
}
.Sbotton a
{
    color: #888888;
}
.SelectBoxCity
{
    clear: both;
    margin: 15px auto 15px auto;
    border-color: #EFEFEF;
    border-style: double;
    border-width: 5px;
    height: 190px;
}
.SelectBoxCity:hover
{
    border-color: #C7DDF2;
}
.SbottonCity
{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    color: #888888;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 20px;
    border-color: #888888;
    border-style: solid;
    border-width: 2px;
}
.SbottonCity a:link
{
    color: #000000;
    text-decoration: none;
}
.Sbotton a:visited
{
    color: #000000;
    text-decoration: none;
}
.Sbotton a:hover
{
    text-decoration: none;
    color: #000000;
}
.Sbotton a:active
{
    text-decoration: none;
    color: #000000;
}
.CarImageBox
{
    padding: 20px 0px;
    width: 100%;
    height: auto;
    border: solid 3px #EFEFEF;
}
.CarImageBox .CarImg
{
    border: solid 3px #222222;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 300px;
}
.TabelBox
{
    padding: 20px 0px;
    height: auto;
    width: 100%;
}
.TabelBoxHiro
{
    width: 100px;
    background-color: #EEEEEE;
}
.TabelBoxBlue
{
    background-color: #D9ECFF;
}
.TabelBoxPink
{
    background-color: #FFE8D9;
}
.EXWindow
{
    left: 50%;
    top: 100px;
    background-color: White;
    position: absolute;
    margin-left: -350px;
    z-index: 200;
    padding: 20px;
    width: 700px;
    height: 350px;
    border: solid 2px #2e2e2e;
    display: none;
}
#mengban
{
    width: 100%;
    background: #cccccc;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 10;
    display: none;
}
.OrderLeft
{
    width: 300px;
    margin: 0 15px;
    float: left;
}
.OrderRight
{
    width: 300px;
    margin: 0 15px;
    float: left;
}
.RadioButton
{
    width: 30px;
}
.editor-label
{
    line-height: 2.5em;
    font: 1.2em;
}
.editor-field input
{
    height: 20px;
    font: 1.2em;
}
.TextBox
{
    width: 300px;
}
.TextArea
{
    width: 300px;
    height: 85px;
}
.DateBox
{
    width: 300px;
}
