<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Models.Properties.Settings.CarRentalConnectionString"
        connectionString="Data Source=.;Initial Catalog=CarRental;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="CarRentalConnectionString"
        connectionString="Data Source=.;Initial Catalog=CarRental;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms" />
    <membership defaultProvider="MyMembershipProvider">
      <providers>
        <clear/>
        <add name="MyMembershipProvider"
             type="System.Web.Security.SqlMembershipProvider"
             connectionStringName="CarRentalConnectionString"
             minRequiredNonalphanumericCharacters="0"
             enablePasswordRetrieval="false"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="false"
             applicationName="/"
             requiresUniqueEmail="false"
             passwordFormat="Hashed"
             maxInvalidPasswordAttempts="100"
             minRequiredPasswordLength="7"
             passwordAttemptWindow="10"
             />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="MyProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="CarRentalConnectionString" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="true" defaultProvider="MyRoleProvider">
      <providers>
        <clear/>
        <add connectionStringName="CarRentalConnectionString" applicationName="/" name="MyRoleProvider" type="System.Web.Security.SqlRoleProvider"/>
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!SERVICES!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
    <services>
      <!--SOA配置-->
      <!--↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓CarRental↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓-->
      <!--Account-->
      <service name="WCFpart.SOA.Function.Account" behaviorConfiguration="MembershipBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsPicBinding" 
          contract="WCFpart.SOA.EndPoint.IAccount">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://kazenotsubasa/WCFpart.Account" />
          </baseAddresses>
        </host>
      </service>
      <!--Action-->
      <service name="WCFpart.SOA.Function.Action" behaviorConfiguration="MembershipBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsPicBinding"
          contract="WCFpart.SOA.EndPoint.IAction">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://kazenotsubasa/WCFpart.Action" />
          </baseAddresses>
        </host>
      </service>
      <!--Brand-->
      <service name="WCFpart.SOA.Function.Brand" behaviorConfiguration="MembershipBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsPicBinding"
          contract="WCFpart.SOA.EndPoint.IBrand">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://kazenotsubasa/WCFpart.Brand" />
          </baseAddresses>
        </host>
      </service>
      <!--Checkout-->
      <service name="WCFpart.SOA.Function.Checkout" behaviorConfiguration="MembershipBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsPicBinding"
          contract="WCFpart.SOA.EndPoint.ICheckout">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://kazenotsubasa/WCFpart.Checkout" />
          </baseAddresses>
        </host>
      </service>
      <!--City-->
      <service name="WCFpart.SOA.Function.City" behaviorConfiguration="MembershipBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsPicBinding"
          contract="WCFpart.SOA.EndPoint.ICity">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://kazenotsubasa/WCFpart.City" />
          </baseAddresses>
        </host>
      </service>
      <!--Order-->
      <service name="WCFpart.SOA.Function.Order" behaviorConfiguration="MembershipBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsPicBinding"
          contract="WCFpart.SOA.EndPoint.IOrder">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://kazenotsubasa/WCFpart.Order" />
          </baseAddresses>
        </host>
      </service>
      <!--Provice-->
      <service name="WCFpart.SOA.Function.Province" behaviorConfiguration="MembershipBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsPicBinding"
          contract="WCFpart.SOA.EndPoint.IProvince">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://kazenotsubasa/WCFpart.Province" />
          </baseAddresses>
        </host>
      </service>
      <!--Shop-->
      <service name="WCFpart.SOA.Function.Shop" behaviorConfiguration="MembershipBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsPicBinding"
          contract="WCFpart.SOA.EndPoint.IShop">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://kazenotsubasa/WCFpart.Shop" />
          </baseAddresses>
        </host>
      </service>
      <!--Type-->
      <service name="WCFpart.SOA.Function.Type" behaviorConfiguration="MembershipBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsPicBinding"
          contract="WCFpart.SOA.EndPoint.IType">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://kazenotsubasa/WCFpart.Type" />
          </baseAddresses>
        </host>
      </service>
      <!--Version-->
      <service name="WCFpart.SOA.Function.Version" behaviorConfiguration="MembershipBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsPicBinding"
          contract="WCFpart.SOA.EndPoint.IVersion">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://kazenotsubasa/WCFpart.Version" />
          </baseAddresses>
        </host>
      </service>
      <!--GetCar-->
      <service name="WCFpart.SOA.Function.GetCar" behaviorConfiguration="MembershipBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsPicBinding"
          contract="WCFpart.SOA.EndPoint.IGetCar">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://kazenotsubasa/WCFpart.GetCar" />
          </baseAddresses>
        </host>
      </service>
      <!--↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓Personnel↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓-->
      <!--RAP-->
      <service name="WCFpart.SOA.Function.RAP" behaviorConfiguration="MembershipBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsPicBinding"
          contract="WCFpart.SOA.EndPoint.IRAP">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://kazenotsubasa/WCFpart.RAP" />
          </baseAddresses>
        </host>
      </service>
      <!--Salary-->
      <service name="WCFpart.SOA.Function.Salary" behaviorConfiguration="MembershipBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsPicBinding"
          contract="WCFpart.SOA.EndPoint.ISalary">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://kazenotsubasa/WCFpart.Salary" />
          </baseAddresses>
        </host>
      </service>
      <!--SalaryAppend-->
      <service name="WCFpart.SOA.Function.SalaryAppend" behaviorConfiguration="MembershipBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsPicBinding"
          contract="WCFpart.SOA.EndPoint.ISalaryAppend">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://kazenotsubasa/WCFpart.SalaryAppend" />
          </baseAddresses>
        </host>
      </service>
      <!--SalaryLog-->
      <service name="WCFpart.SOA.Function.SalaryLog" behaviorConfiguration="MembershipBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsPicBinding"
          contract="WCFpart.SOA.EndPoint.ISalaryLog">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://kazenotsubasa/WCFpart.SalaryLog" />
          </baseAddresses>
        </host>
      </service>
      <!--WorkRAP-->
      <service name="WCFpart.SOA.Function.WorkRAP" behaviorConfiguration="MembershipBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsPicBinding"
          contract="WCFpart.SOA.EndPoint.IWorkRAP">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://kazenotsubasa/WCFpart.WorkRAP" />
          </baseAddresses>
        </host>
      </service>
      <!--↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓Synthesize↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓-->
      <!--CarSummery-->
      <service name="WCFpart.SOA.Function.CarSummery" behaviorConfiguration="MembershipBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsPicBinding"
          contract="WCFpart.SOA.EndPoint.ICarSummery">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://kazenotsubasa/WCFpart.CarSummery" />
          </baseAddresses>
        </host>
      </service>
      <!--OrderSummery-->
      <service name="WCFpart.SOA.Function.OrderSummery" behaviorConfiguration="MembershipBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsPicBinding"
          contract="WCFpart.SOA.EndPoint.IOrderSummery">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://kazenotsubasa/WCFpart.OrderSummery" />
          </baseAddresses>
        </host>
      </service>
      <!--SalaryInfoSummery-->
      <service name="WCFpart.SOA.Function.SalaryInfoSummery" behaviorConfiguration="MembershipBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsPicBinding"
          contract="WCFpart.SOA.EndPoint.ISalaryInfoSummery">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://kazenotsubasa/WCFpart.SalarySummery" />
          </baseAddresses>
        </host>
      </service>
      <!--UserSummery-->
      <service name="WCFpart.SOA.Function.UserSummery" behaviorConfiguration="MembershipBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsPicBinding"
          contract="WCFpart.SOA.EndPoint.IUserSummery">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://kazenotsubasa/WCFpart.SalarySummery" />
          </baseAddresses>
        </host>
      </service>
      <!--UserManager-->
      <service name="WCFpart.SOA.Function.UserManager" behaviorConfiguration="MembershipBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsPicBinding"
          contract="WCFpart.SOA.EndPoint.IUserManager">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://kazenotsubasa/WCFpart.SalarySummery" />
          </baseAddresses>
        </host>
      </service>
      
      
      <!--REST配置-->
      <service name="WCFpart.SOA.Function.WCFtest" behaviorConfiguration="MembershipBehavior">
        <endpoint address="" binding="wsHttpBinding" contract="WCFpart.SOA.EndPoint.IWCFtest" bindingConfiguration="userNameCredentialBinding">
          <identity>
            <dns value="localhost"/>
          </identity>

        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://kazenotsubasa/WCFpart.WCFtest/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!BINDINGS!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
    <bindings>
      <wsHttpBinding>
        <binding name="wsPicBinding_nocheck"  closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="655360" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192000" maxArrayLength="16384"
            maxBytesPerRead="40960" maxNameTableCharCount="16384"  />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
          </security>
        </binding>
        <binding name="wsPicBinding"  closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="655360" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192000" maxArrayLength="16384"
            maxBytesPerRead="40960" maxNameTableCharCount="16384"  />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="userNameCredentialBinding">
          <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!BEHAVIORS!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
    <behaviors>

      <endpointBehaviors>
        <behavior name="web">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
      
      <serviceBehaviors>
        <behavior name="MembershipBehavior">
          <serviceTimeouts transactionTimeout="00:01:00"/>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentInstances="1000"/>
          <serviceCredentials>
            <serviceCertificate
              findValue="CN=WCFServerPK"
              storeLocation="LocalMachine"
              storeName="My"
              x509FindType="FindBySubjectDistinguishedName"
              />
            <userNameAuthentication
              userNamePasswordValidationMode="MembershipProvider"
              membershipProviderName="MyMembershipProvider"
              />
          </serviceCredentials>
        </behavior>
        <behavior>
          <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false 并删除上面的元数据终结点 -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>

